$breakpoints: ("sm": 480px, "md": 768px, "lg": 1080px);


    @mixin respond($breakpoint) {
@media (min-width: $breakpoint) {
@content;
}
}

@mixin flex($direction: row, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
    @content;}

    @mixin respond($bp) {
@media (min-width: map.get($breakpoints, $bp)) {
@content;
}
}
