
body{
    margin:0;
    height: 100dvh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: bisque;
}

.card{
    width:250px;
    height:300px;
    text-align:center;}
    


.card img{
    width:350px;
    height:300px;
    border: 2px solid black;
}

